@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterTemplate.cshtml";
}
<h4>this is a blog page</h4>
<h4>this is a blog page</h4>
<h4>this is a blog page</h4>
<h4>this is a blog page</h4>
<h4>this is a blog page</h4>

@Html.Partial("ListBlogItems")