@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterTemplate.cshtml";
}

@* the fun starts here *@
<div class="box">
                    <div class="box-top">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
                    <div class="box-bot">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
<div class="box">
    <div class="box-top">Home COntent</div>
    <div class="box-bot"> 
        <img src="">
    </div>
</div>